*{
    margin: 0;
    padding: 0;
}


.top-section{
    align-items: center;
    text-align: center;
    background-color: aquamarine;
    padding: 2%;
}

#heading {
    border: 2px solid #171616;
    margin: 0 20% 1% 20%;
    padding: 2% 4%;
    border-radius: 20px;
    background-color: aliceblue;
}

#save{
    display: block;
    margin: 1.5% auto;
    height: 6%;
    width: 9%;
    border: 2px solid white;
    border-radius: 26px;
    font-size: larger;
}

#save:hover{
    background-color: royalblue;
}

.teamName{
    text-align: center;
    width: 19%;
    border-radius: 8px;
    height: 7%;
    border: 2px solid white;
}


.howMuchOver{
    display: block;
    margin: 2% auto;
    width: 3%;
    height: 5%;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}

.VS{
    display: inline-block;
    width: 2%;
    margin: 0 10px;
    font-size: x-large;
}


.teamA{
    margin: 2% 0;
}



/* teamScore.html */

.scoreBoard{
    width: 100vw;
    height: 100vh;
    /* padding: 1%; */
    background-color: rgb(201, 130, 130);
    text-align: center;                                                                                                                                                                                                                                            ;
}


 .scoreBoard h1 , span{
    display: inline-block;
    padding:10% 0 0 0;
    font-size: 100;
}

.overs input{
    color: #171616;
    display: inline-block;
    margin: 0 auto;
    background-color: rgb(201, 130, 130);
    width: 7%;
    height: 6%;
    font-size: 30;
    font-weight: bolder;
    text-align: center;
    border: 2px solid rgb(201, 130, 130);
}

.runs button{
    margin: 2% 1%;
    display: inline-block;
    width: 5%;
    height: 8%;
    font-size: 45;
    border: 2px solid black;
    border-radius: 10px;
}

#wicket{
    display: block;
    margin: 0 auto;
    background-color: lightcoral;
}


@media (max-width:500px) {
    .runs button{
        width: 15%;
        height: 9%;
    }
}


#over{
    text-align: center;
    font-size: 30;
   
}


#ballToBall{
    text-align: right;
}

#overToOver{
    text-align: left;
}